<header class="header">
    <div class="container header-inner">
        <a href="#" class="logo">
            <img src="./assets/icon/logo_header.jpg" alt="Logo" />
            <span class="logo-text">FiveSpark Edu</span>
        </a>

        <div class="search-bar">
            <input type="text" placeholder="Tìm kiếm khóa học..." />
            <button><i class="fas fa-search"></i></button>
        </div>

        <div class="header-actions">
            <div class="item">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
            </div>
            <div class="item">
                <i class="fas fa-user-circle"></i>
                <span>Tài khoản</span>
            </div>
        </div>
    </div>
</header>

<nav class="navigation">
    <div class="container">
        <ul class="nav-list">
            <li><a href="#">Danh mục khóa học </a></li>
            <li><a href="#">Khóa học lập trình</a></li>
            <li><a href="#">Tin học văn phòng</a></li>
            <li><a href="#">Ngoại ngữ</a></li>
        </ul>
    </div>
</nav>